@for $i from 1 through 200 {
  .w-#{$i} {
    width: #{$i}px;
  }

  .h-#{$i} {
    height: #{$i}px;
  }

  .mt-#{$i} {
    margin-top: #{$i}px;
  }

  .mb-#{$i} {
    margin-bottom: #{$i}px;
  }

  .mr-#{$i} {
    margin-right: #{$i}px;
  }

  .ml-#{$i} {
    margin-left: #{$i}px;
  }

  .pt-#{$i} {
    padding-top: #{$i}px;
  }

  .pb-#{$i} {
    padding-bottom: #{$i}px;
  }

  .pr-#{$i} {
    padding-right: #{$i}px;
  }

  .pl-#{$i} {
    padding-left: #{$i}px;
  }

  .p-#{$i} {
    padding: #{$i}px;
  }

  .fs-#{$i} {
    font-size: #{$i}px;
  }
}
