.ant-drawer-mask {
  background: none !important;
}

.ant-pagination-item,
.ant-pagination-item-link {
  border-radius: 50% !important;
  background-color: #e0e6ed !important;
}

.ant-pagination-item-active {
  background-color: #4361ee !important;
  a {
    color: #fff !important;
  }
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #78A55A !important;
  border-color: #78A55A !important;
}
