.menu {
  background: rgba(14, 23, 38, 0.95) !important;
  margin-top: 52px !important;
  color: #fff !important;
}

.menu_item {
  border-radius: 10px;
  opacity: 0.5;
  background: rgba(136, 142, 168, 0.8);
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 21px 25px;
  margin-top: 48px;
}

.btn {
  background-color: #4361ee;
  padding: 24px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 400;
  color: #fff;
}

.timer {
  text-align: center;
  margin-top: 18px;
  padding: 48px;
  border-radius: 6px;
  border: 1px solid #4361ee;
  background: #fff;
  box-shadow: 0px 10px 20px -10px #4361ee;
  font-size: 48px;
  color: #4361ee;
}

.btn_disable {
  background: rgba(67, 97, 238, 0.7);
}
