.menu {
  background: rgba(14, 23, 38, 0.95) !important;
  margin-top: 59px !important;
  color: #fff !important;
}

.menu_item {
  border-radius: 10px;
  opacity: 0.5;
  background: rgba(136, 142, 168, 0.8);
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 21px 25px;
  margin-top: 48px;
}
